<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <servlet>
    <description></description>
    <display-name>RefPulpy</display-name>
    <servlet-name>RefPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.RefPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefPulpy</servlet-name>
    <url-pattern>/RefPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApiPulpy</display-name>
    <servlet-name>ApiPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.ApiPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiPulpy</servlet-name>
    <url-pattern>/ApiPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheckPulpy</display-name>
    <servlet-name>LoginCheckPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.LoginCheckPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckPulpy</servlet-name>
    <url-pattern>/LoginCheckPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstPulpy</display-name>
    <servlet-name>FirstPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.FirstPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPulpy</servlet-name>
    <url-pattern>/FirstPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlgenPulpy</display-name>
    <servlet-name>XmlgenPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.XmlgenPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlgenPulpy</servlet-name>
    <url-pattern>/XmlgenPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailPulpy</display-name>
    <servlet-name>DetailPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.DetailPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPulpy</servlet-name>
    <url-pattern>/DetailPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescPulpy</display-name>
    <servlet-name>DescPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.DescPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescPulpy</servlet-name>
    <url-pattern>/DescPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketPulpy</display-name>
    <servlet-name>TicketPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.TicketPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketPulpy</servlet-name>
    <url-pattern>/TicketPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingPulpy</display-name>
    <servlet-name>BookingPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.BookingPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingPulpy</servlet-name>
    <url-pattern>/BookingPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPulpy</display-name>
    <servlet-name>NewPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.NewPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPulpy</servlet-name>
    <url-pattern>/NewPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonToXmlPulpy</display-name>
    <servlet-name>JsonToXmlPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.JsonToXmlPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonToXmlPulpy</servlet-name>
    <url-pattern>/JsonToXmlPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonToXml</display-name>
    <servlet-name>JsonToXml</servlet-name>
    <servlet-class>com.roobi.pulpy.JsonToXml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonToXml</servlet-name>
    <url-pattern>/JsonToXml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescPulpy1</display-name>
    <servlet-name>DescPulpy1</servlet-name>
    <servlet-class>com.roobi.pulpy.DescPulpy1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescPulpy1</servlet-name>
    <url-pattern>/DescPulpy1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketPulpy1</display-name>
    <servlet-name>TicketPulpy1</servlet-name>
    <servlet-class>com.roobi.pulpy.TicketPulpy1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketPulpy1</servlet-name>
    <url-pattern>/TicketPulpy1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlRequestPulpy</display-name>
    <servlet-name>XmlRequestPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.XmlRequestPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlRequestPulpy</servlet-name>
    <url-pattern>/XmlRequestPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlRequestConfig</display-name>
    <servlet-name>XmlRequestConfig</servlet-name>
    <servlet-class>com.roobi.pulpy.XmlRequestConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlRequestConfig</servlet-name>
    <url-pattern>/XmlRequestConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SoapServlet</display-name>
    <servlet-name>SoapServlet</servlet-name>
    <servlet-class>com.roobi.pulpy.SoapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoapServlet</servlet-name>
    <url-pattern>/SoapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SamplePulpy</display-name>
    <servlet-name>SamplePulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.SamplePulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SamplePulpy</servlet-name>
    <url-pattern>/SamplePulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPulpy</display-name>
    <servlet-name>LoginPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.LoginPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPulpy</servlet-name>
    <url-pattern>/LoginPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthPulpy</display-name>
    <servlet-name>AuthPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.AuthPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthPulpy</servlet-name>
    <url-pattern>/AuthPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlTagPulpy</display-name>
    <servlet-name>XmlTagPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.XmlTagPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlTagPulpy</servlet-name>
    <url-pattern>/XmlTagPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthPulpy1</display-name>
    <servlet-name>AuthPulpy1</servlet-name>
    <servlet-class>com.roobi.pulpy.AuthPulpy1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthPulpy1</servlet-name>
    <url-pattern>/AuthPulpy1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondConfig</display-name>
    <servlet-name>SecondConfig</servlet-name>
    <servlet-class>com.roobi.pulpy.SecondConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondConfig</servlet-name>
    <url-pattern>/SecondConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthXmlPulpy</display-name>
    <servlet-name>AuthXmlPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.AuthXmlPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthXmlPulpy</servlet-name>
    <url-pattern>/AuthXmlPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OauthLoginServlet</display-name>
    <servlet-name>OauthLoginServlet</servlet-name>
    <servlet-class>com.roobi.pulpy.OauthLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthLoginServlet</servlet-name>
    <url-pattern>/OauthLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OauthCallBackServlet</display-name>
    <servlet-name>OauthCallBackServlet</servlet-name>
    <servlet-class>com.roobi.pulpy.OauthCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OauthCallBackServlet</servlet-name>
    <url-pattern>/OauthCallBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondXmlConfig</display-name>
    <servlet-name>SecondXmlConfig</servlet-name>
    <servlet-class>com.roobi.pulpy.SecondXmlConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondXmlConfig</servlet-name>
    <url-pattern>/SecondXmlConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonXmlPulpy</display-name>
    <servlet-name>CommonXmlPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.CommonXmlPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonXmlPulpy</servlet-name>
    <url-pattern>/CommonXmlPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdServlet</display-name>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.roobi.pulpy.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdConfig</display-name>
    <servlet-name>ThirdConfig</servlet-name>
    <servlet-class>com.roobi.pulpy.ThirdConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdConfig</servlet-name>
    <url-pattern>/ThirdConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdXmlConfig</display-name>
    <servlet-name>ThirdXmlConfig</servlet-name>
    <servlet-class>com.roobi.pulpy.ThirdXmlConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdXmlConfig</servlet-name>
    <url-pattern>/ThirdXmlConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonPulpy1</display-name>
    <servlet-name>CommonPulpy1</servlet-name>
    <servlet-class>com.roobi.pulpy.CommonPulpy1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonPulpy1</servlet-name>
    <url-pattern>/CommonPulpy1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlConvert</display-name>
    <servlet-name>XmlConvert</servlet-name>
    <servlet-class>com.roobi.pulpy.XmlConvert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlConvert</servlet-name>
    <url-pattern>/XmlConvert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addapi</display-name>
    <servlet-name>Addapi</servlet-name>
    <servlet-class>com.roobi.pulpy.Addapi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addapi</servlet-name>
    <url-pattern>/Addapi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewapi</display-name>
    <servlet-name>Viewapi</servlet-name>
    <servlet-class>com.roobi.pulpy.Viewapi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewapi</servlet-name>
    <url-pattern>/Viewapi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>apis</display-name>
    <servlet-name>apis</servlet-name>
    <servlet-class>com.roobi.pulpy.apis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apis</servlet-name>
    <url-pattern>/apis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobiClient</display-name>
    <servlet-name>MobiClient</servlet-name>
    <servlet-class>com.roobi.pulpy.MobiClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobiClient</servlet-name>
    <url-pattern>/MobiClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobiClient1</display-name>
    <servlet-name>MobiClient1</servlet-name>
    <servlet-class>com.roobi.pulpy.MobiClient1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobiClient1</servlet-name>
    <url-pattern>/MobiClient1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstAuthPulpy</display-name>
    <servlet-name>FirstAuthPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.FirstAuthPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstAuthPulpy</servlet-name>
    <url-pattern>/FirstAuthPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApiDoc</display-name>
    <servlet-name>ApiDoc</servlet-name>
    <servlet-class>com.roobi.pulpy.ApiDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiDoc</servlet-name>
    <url-pattern>/ApiDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientOauth</display-name>
    <servlet-name>ClientOauth</servlet-name>
    <servlet-class>com.roobi.pulpy.ClientOauth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientOauth</servlet-name>
    <url-pattern>/ClientOauth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPulpy</display-name>
    <servlet-name>AdminPulpy</servlet-name>
    <servlet-class>com.roobi.pulpy.AdminPulpy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPulpy</servlet-name>
    <url-pattern>/AdminPulpy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreBuild</display-name>
    <servlet-name>PreBuild</servlet-name>
    <servlet-class>com.roobi.pulpy.PreBuild</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreBuild</servlet-name>
    <url-pattern>/PreBuild</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PreBuildXmlConfig</display-name>
    <servlet-name>PreBuildXmlConfig</servlet-name>
    <servlet-class>com.roobi.pulpy.PreBuildXmlConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreBuildXmlConfig</servlet-name>
    <url-pattern>/PreBuildXmlConfig</url-pattern>
  </servlet-mapping>
</web-app>